Xpsfilesdata/NAVIS/ecn4web/webapps/ecn4web/WEB-INF/dtds/MenuTree.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Version 1.0 9.2005 Edwin Yu -->

<!ELEMENT menuTree (menu)*>

<!ELEMENT menu (menu|menuItem|separator)*>
<!-- position values can either be APPEND or PREPPEND -->
<!ATTLIST menu menuNodeRefId CDATA #IMPLIED>
<!ATTLIST menu position CDATA #IMPLIED>

<!ELEMENT menuItem (#PCDATA)>
<!ATTLIST menuItem menuNodeRefId CDATA #IMPLIED>

<!ELEMENT separator EMPTY>
